.vscode/
__pycache__/
venv*/
notes.txt
Problems/
build/
dist/
pygccx.egg-info/
build_doc.bat
build_package.bat

# Calculix files in examples
executables/
examples/**/*.12d
examples/**/*.cvg
examples/**/*.dat
examples/**/*.frd
examples/**/*.inp
examples/**/*.sta
examples/**/*.nam
examples/**/*.out
examples/**/*.fbd
examples/**/*.eig
examples/**/*.pkl
examples/**/*.dwl
examples/3_disc_teststand
examples/radial_ball_bearing
examples/thrust_ball_bearing
**/tools/bearings/