.vscode/
__pycache__/
venv/
venv_setup/
venv310/
notes.txt
Problems/
build/
pygccx.egg-info/

# Calculix files in examples
executables/
examples/**/*.12d
examples/**/*.cvg
examples/**/*.dat
examples/**/*.frd
examples/**/*.inp
examples/**/*.sta
examples/**/*.nam
examples/**/*.out
examples/**/*.fbd
examples/**/*.eig
examples/**/*.pkl
examples/**/*.dwl
examples/3_disc_teststand
examples/radial_ball_bearing
examples/thrust_ball_bearing
**/tools/bearings/