.vscode/
__pycache__/
venv/
venv_setup/
notes.txt

# Calculix files in examples
executables/
examples/**/*.12d
examples/**/*.cvg
examples/**/*.dat
examples/**/*.frd
examples/**/*.inp
examples/**/*.sta
examples/**/*.nam
examples/**/*.out
examples/**/*.fbd
examples/**/*.eig